site_name: "Ohio SPBM Demo"
site_url: http://spbm.ohio.gainwelltechnologies.com/
repo_url: https://github.com/gainwell-ohio/spbm/
repo_name: Evergreen
edit_uri: "edit/main/docs/"
plugins:
  - search
theme:
  icon:
      edit: material/pencil
  name: material
  logo: img/favicon.ico
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: gainwell
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.prune
    - search.highlight
    - content.action.edit
markdown_extensions:
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

    - toc:
        permalink: True
        separator: "_"
        toc_depth: 3
#extra_css:
  #- stylesheets/extra.css
