---
search:
  boost: 1
---

# HIPAA Verification

![Alt text](HIPPA%20Verification%20Flow%20Chart.png)