![](https://github.com/gainwell-ohio/spbm/blob/Tech-OneNote/docs/Clinical%20and%20Technical%20Reference%20Guide/Calls%20-%20Standard%20of%20Work/HIPPA%20Verification%20Flow%20Chart.png)
