# HIPAA Verification

![Alt text](../Calls%20-%20Standard%20of%20Work/HIPPA%20Verification%20Flow%20Chart.png)