---
search:
  boost: 1
---

# HIPAA Verification and Authorized Rep

[HIPAA Verification with Authorized Rep](https://mygainwell-my.sharepoint.com/:w:/g/personal/kaelyn_dobbins_gainwelltechnologies_com/EeFz6jFFgrhHkSOrFXbM1fYBrBU_oqaYDnKkF03xlgnvPw?e=BRPTiP){:target="_blank"}

![Alt text](../Calls%20-%20Standard%20of%20Work/HIPPA%20Verification%20Flow%20Chart.png)
