---
search:
  boost: 1
---

# HIPAA Verification and Authorized Rep

[HIPAA Verification with Authorized Rep](https://mygainwell-my.sharepoint.com/:w:/g/personal/kaelyn_dobbins_gainwelltechnologies_com/EeFz6jFFgrhHkSOrFXbM1fYBrBU_oqaYDnKkF03xlgnvPw?e=BRPTiP){:target="_blank"}

![Alt text](../Calls%20-%20Standard%20of%20Work/HIPPA%20Verification%20Flow%20Chart.png)

![](docs/images/HIPAA%20Verification%20w.%20Auth%20Rep%20and%20FFS/media/image1.png)

## HIPAA Verification for Members

![](docs/images/HIPAA%20Verification%20w.%20Auth%20Rep%20and%20FFS/media/image2.png)

==**Patient Name** + **2 additional pieces of PII**== (personal identifiable information)

After getting the patient’s name- you must obtain 2 additional pieces of
PII to be in compliance with HIPAA Verification Standard.

**Additional PII includes:**

- Cardholder ID *(you do **not** **need** the Cardholder ID as long as
    you verify any 2 other pieces of info listed below)*
- Social Security Number
- Date of Birth
- Telephone Number
- Address
- RX Number

If the caller is NOT the patient- you must get authorization from the
patient to speak to the caller on the patient’s behalf. *\*THIS MUST BE
LOGGED IN THE CALL LOG DOCUMENTATION\**

## HIPAA Verification for Providers

**For Member Inquiries with Managed Care Coverage \*pharmacy**

- You must use the Operations Tile- SPBM Network Tab – add the provider NPI and search to ensure that the Provider is contracted with Gainwell Technologies.
- Once you have verified the Provider NPI\# - you must obtain the patient’s name from the provider and then 2 additional pieces of PII from the list above to complete HIPAA verification.

![](docs/images/HIPAA%20Verification%20w.%20Auth%20Rep%20and%20FFS/media/image3.png)

**For Member Inquiries with FFS Coverage**

- You must use the Operations Tile- SPBM Network Tab – add the provider NPI and search to ensure that the Provider is contracted with Gainwell Technologies.
- Once you have verified the Provider NPI\# - you must obtain the patient’s name from the provider and then 1 additional piece of PII from the list above to complete HIPAA verification.

> ![](docs/images/HIPAA%20Verification%20w.%20Auth%20Rep%20and%20FFS/media/image4.png)

## Authorized Representatives

**We can only speak with the member after verifying HIPAA, as shown above. We cannot speak with anyone else unless they are an authorized representative INCLUDING spouses or parents of children 18 years and older**

- We cannot accept someone reporting that they are an Authorized Representative (AR), we must check in MITS as a form has to be filled out and sent to Medicaid.
    - Two exceptions
        1.  A parent or guardian is calling about someone under the age
            of 18
        2.  The member is on the phone and verifies HIPAA. The member
            can then give verbal permission to speak with someone else
            who is present.
            - The member must complete this procedure every time the
                member would like us to talk to someone else, unless the
                AR form is completed and sent to the member’s local
                County Department of Jobs and Family Services
            - This must be thoroughly documented in your call note
- To check if someone is an AR, please follow the callback procedure
    by sending an email to the callback team with the completed callback
    template
    - The callback team will look in MITS to see if there is an AR
        - If there is an AR, the callback team will make the callback
            and resolve the issue
        - If there is not an AR, the callback team will make the
            callback and report that they are unable to speak with
            anyone but the caller until the AR documentation is done.
- Please set the expectation for the caller that we must sent this
    information to our team who can review the Medicaid System and check
    if there is an AR on file
- If someone would like to become an authorized rep, they must fill
    out the following form and submit it to their local County
    Department of Jobs and Family Services 
    - **Authorized Representative Form**
        - [ODM Authorized Representative Form](https://medicaid.ohio.gov/static/Resources/Publications/Forms/ODM06723fillx.pdf)
        - Caller can also google "ODM Authorized Representative Form"
            and it will come up
      - **Information on how to contact the caller’s Local County
        Department of Jobs and Family Services**
          - [Ohio County Department of Job and Family Services Contact
            Information](https://jfs.ohio.gov/county/county_directory.pdf)
