[data-md-color-scheme="gainwell-light"] {
    --md-primary-fg-color:        #8E99AB;
    --md-primary-fg-color--light: #C2C6D2;
}

[data-md-color-scheme="gainwell-dark"] {
    --md-primary-fg-color:        #2B3A44;
    --md-primary-fg-color--dark:  #2B3A44;
    --md-primary-bg-color:        #00EEAE;
    --md-accent-fg-color:         #55206E;
    --md-accent-bg-color:         #00EEAE;
    --md-default-bg-color:        #C2C6D2;
}