name: DeployToS3

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: thomasattree/mkdocs2S3@master
      with:
        args: --acl public-read --follow-symlinks --delete
        python-version: 3.x
    - run: pip install mkdocs-material
      env:
        AWS_S3_BUCKET: ${ bps-hc-aws-rpa-dev-sandbox-s3-testing }
        AWS_ACCESS_KEY_ID: ${ AKIA4TYFEMDIBJ4VYIRO }
        AWS_SECRET_ACCESS_KEY: ${ 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 }
