name: Build mkdocs pages and publish to S3 bucket

on:
  push:
    branches: 
    - main

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 'pypy-3.6'

      - name: Build pages and publish to S3
        uses: sys3/mkdocs-s3-publish-action@main
        env:
          S3_LOCATION: ${{ build }}
          S3_ACCESS_KEY: ${ AKIA4TYFEMDIBJ4VYIRO }
          S3_SECRET_KEY: ${ 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 }
          S3_BUCKET: ${ bps-hc-aws-rpa-dev-sandbox-s3-testing }
