name: ghPagesDeployment 
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Build and Deploy Mkdocs site
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: Setup Python
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      - run: mkdocs build
      
      - name: Configure AWS credentials
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync output to S3
      - run: |
          aws s3 sync ./site/ s3-website-us-east-1.amazonaws.com --delete
